/**
 * Various kinds of preformatted text blocks.
 */

/* spells, class features, etc. */
:is(h4) + p {
  margin-top: -1rem;
  margin-bottom: 0.25rem;
}

:is(h4) + p + :is(hr, .md-hr) + ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 0.75rem;

  > li {
    > p {
      text-indent: 0;
      margin: 0;
    }
  }
}
