@use "mixins" as *;

$hr: ":is(hr, .md-hr)";

/**
 * Index
 *
 * - _Note Block
 * - _Monster Stat Block
 * - _Full-Width Monster Stat Block
 */

/* _Note Block */
blockquote {
  @include sans-serif;
  border-style: solid;
  border-width: 1px;
  border-image: var(--noteBorderImage) 12 stretch;
  border-image-outset: 9px 0px;
  border-image-width: 11px;
  background-color: var(--noteGreen);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 1rem;

  padding: 1.5rem 2rem 2rem 1rem;
  box-shadow: 1px 4px 6px rgba(0,0,0,0.3);

  & + *:not(blockquote) {
    margin-top: 1rem;
    text-indent: 0;
  }

  & h5 {
    font-size: 0.375cm;
  }

  & p {
    display: block;
    padding-bottom: 0px;

    &:first-of-type {
      text-indent: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/* _Monster Stat Block - preceded by HR element */
#{$hr} {
  &:not(&+p:empty+&) + blockquote {
    margin: 0 0 0.325cm;
    border-style: solid;
    border-width: 7px 6px;
    border-image: var(--monsterBorderImage) 14 round;
    border-image-outset: 0px 2px;
    background-color: var(--monsterStatBackground);
    background-image: var(--monsterBlockBackground);

    h2, h3 {
      margin-top: 0;
    }

    h2 {
      font-size: 0.62cm;
      line-height: 1em;
      margin: 0;
      & + p {
        font-size: 0.304cm; //Monster size and type subtext
        margin-bottom: 0;
      }
    }

    h3 {
      font-family: ScalySansRemake;
      font-weight: bold;
      text-shadow: none;
      font-variant: small-caps;
      border-bottom: 2px solid var(--headerText);
      padding-bottom: 0.05cm;
    }

    p {
      text-indent: 0;
      & :not(:last-of-type) {
        margin-bottom: 1em;
      }
    }

    p, ul {
      font-size: .352cm;
      line-height: 1.083em;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    /* triangle dividers */
    .md-hr {
      display: block;
    }

    .md-hr > hr, hr {
      display: block;
      visibility: visible;
      margin: 0.12cm 0cm;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 0 3px var(--columnBlockWidth);
      border-color: transparent transparent transparent #9c2b1b;
    }

    #{$hr} {
      /* attribute lists - All text between HRs is red */
      ~ :is(dl,p,ul,ol) {
        color: var(--headerText);
      }
      ~ :is(ul,ol) {
        list-style-type: none;
        padding-left: 0;

        li, p {
          margin: 0;
          padding: 0;
        }
      }
      &:last-of-type {
        margin-bottom: 1rem;
        & ~:is(dl,p,ul,ol) {
          color: inherit; // After the HRs, reset text to black
        }

        & ~ p {
          padding-bottom: 0.8rem;
        }
      }
    }

    // Monster Ability table
    #{$hr} + :is(table,.md-table-fig) {
      padding-top: 0.5rem 0;
      margin: 0;
      column-span: none;
      color: var(--headerText);
      background-color: transparent;
      border-style: none;
      border-image: none;
      -webkit-column-span: none;

      td, th {
        font-size: 1em;
        border: none;
      }

      tbody {
        tr, tr:nth-child(odd) {
          background-color: transparent;
        }

        td,th {
          padding: 0px;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  } /* ./blockquote */

  /* _Full-Width Monster Stat Block */
  &:is(& + &) + blockquote {
    column-span: all;
    columns: 2 auto;
    column-fill: balance;

    > h3 {
      position: static !important;
    }
  }
} /* end monster stat block */
