@use "mixins" as *;
/* _Descriptive blocks */
#write > :is(pre code, pre.md-fences) {
  @include sans-serif;
  /* override general rule of hr+hr = full width */
  column-span: none;

  padding: 1.25rem 2rem 1.5rem 1rem;
  box-shadow: 1px 4px 6px rgba(0,0,0,0.3);
  margin: 0 0 0.325cm;

  border-style: solid;
  border-width: 7px;
  border-image: var(--descriptiveBoxImage) 12 stretch;
  border-image-outset: 2px 4px;

  background-color: var(--descriptiveBoxColor);
  background-image: var(--monsterBlockBackground);
  background-blend-mode: overlay;
  background-size: cover;

  .CodeMirror.cm-s-inner {
    background: none;
  }

  pre {
    margin: 0;
    padding: 0;
  }
}

#write > .md-fences > div:not(.CodeMirror.cm-s-inner) {
  display: none !important;
}
