/* Main Font, serif */
@font-face {
	font-family: BookInsanityRemake;
	src: inline("./fonts/Bookinsanity.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: BookInsanityRemake;
	src: inline("./fonts/Bookinsanity-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: BookInsanityRemake;
	src: inline("./fonts/Bookinsanity-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: BookInsanityRemake;
	src: inline("./fonts/Bookinsanity-Bold-Italic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

/*-Notes-and-Tables,-sans-serif-*/
@font-face {
	font-family: ScalySansRemake;
	src: inline("./fonts/Scaly-Sans.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: ScalySansRemake;
	src: inline("./fonts/Scaly-Sans-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: ScalySansRemake;
	src: inline("./fonts/Scaly-Sans-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: ScalySansRemake;
	src: inline("./fonts/Scaly-Sans-Bold-Italic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: ScalySansSmallCapsRemake;
	src: inline("./fonts/Scaly-Sans-Caps.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/*
@font-face {
	font-family: WalterTurncoat;
	src: inline("./fonts/WalterTurncoat-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
*/

/*-Headers-*/
@font-face {
	font-family: MrEavesRemake;
	src: inline("./fonts/Mr-Eaves-Small-Caps.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/*-Fancy-Drop-Cap-*/
@font-face {
	font-family: SolberaImitationRemake;
	src: inline("./fonts/Solbera-Imitation-Tweak.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
