$hr: ":is(hr, .md-hr)";

html,
body {
	background: var(--bodyBackground);
}

@mixin page-border {
	width: calc(var(--pageWidth) - calc(2 * var(--pageShadow)));
	height: var(--decoFitHeight);
	background-image: var(--footerAccentImage);
	column-span: all;
	position: relative;
}

@mixin page-border-top {
	@include page-border;
	top: var(--pageShadow);
	left: var(--pageShadow);
	transform: rotateX(180deg);
	background-position: 0 10px;
	background-size: 108%;
}

@mixin page-border-bottom {
	@include page-border;
	background-size: contain;
	background-repeat: no-repeat;
	left: calc(var(--pageHorizontalMargin) * -1 + var(--pageShadow));
}

#write, .typora-node #write {
	counter-reset: page-count;

	width: var(--pageWidth);
	min-height: calc(var(--pageHeight) + var(--pageShadow) * 2);
	margin: var(--pageGap) auto;
	padding: var(--pageTopMargin) var(--pageHorizontalMargin) 0;

	columns: 2 auto;
	column-fill: balance;
	gap: var(--columnGap);

	background-color: var(--background);
	background-image: var(--backgroundImage);
	background-size: var(--pageWidth) calc(var(--pageHeight) + var(--pageGap));
	background-repeat: repeat;

	font-family: BookInsanityRemake;
	text-rendering: optimizeLegibility;
	font-size: 0.34cm;

	/* top decoration for first page */
	&::before {
		@include page-border-top;
		content: " ";
		position: absolute;
		background-position-y: 10px;
	}

	/* horizontal rules are purely structural */
	> hr, > .md-hr hr {
		opacity: 0;
		height: 1px;
		margin: 0;
		border: none;
		border-top: none;
		outline: none;
		color: transparent;
		background-color: transparent;
	}


	/* override base style */
	& > :is(hr,h1,h2,h3,h4,h5,h6,p,pre,div) {
		width: auto;
	}

	/* avoid breaking blockquotes & tables */
	blockquote, table {
		z-index                     : 15;
		-webkit-column-break-inside : avoid;
		page-break-inside           : avoid;
		break-inside                : avoid;
	}

	/* full width paragraph or div */
	#{$hr} + #{$hr} + :is(p,div,img,figure) {
		column-span: all;
		text-indent: 0;
	}

	/** page breaks & footers **/

	/* footer text container
   * ```
	 * ---
	 * Footer Text
	 *
	 * ---
	 * ```
	 */
	& > #{$hr} + p:not(:empty):not(#{$hr} + #{$hr} + p):not(#{$hr} + p + #{$hr} + p) {
		position: relative;
		counter-increment: page-count;
		column-span: all;
		break-before: avoid;
		break-after: page;
		text-transform: uppercase;
		text-align: right;
		padding-right: 2cm;
		color: var(--footerText);
		font-size: 0.8em;
		margin-bottom: 2cm;

		@include page-border-bottom;

		/* footer page number */
		&::after {
			content: counter(page-count);
			color: var(--footerText);
			position: absolute;
			right: 0.75cm;
			top: 0.2cm;
			z-index: 100;
			font-size: 1rem;
			text-align: center;
		}

		& + :is(p,h1,h2,h3,h4,h5,h6) {
			margin-top: 0;
			text-indent: 0;
		}

		& + #{$hr}:not(#{$hr} + #{$hr}) {
			@include page-border-top;
			left: -2cm;
			top: 0;

			&:last-child {
				display: none;
			}
		}
	}

	/* column break
   * ```
	 * 
	 * ~break~
	 * ```
	 */
	p:empty:not(#{$hr} + p) + p > sub {
		visibility: hidden;
		display: block;
		column-span: all;
		break-after: column;
	}
} /* ./#write */
