.MathJax_Display {
	font-size: 0.9em;
	margin-top: 0.5em;
	margin-bottom: 0;
}

p.mathjax-block,
.mathjax-block {
	padding-bottom: 0;
}

.mathjax-block > .code-tooltip {
	bottom: 5px;
	box-shadow: none;
}
