@mixin sans-serif {
	font-family: ScalySansRemake;
	font-size: 0.318cm;
	line-height: 1.2em;

	/** Sans-Serif Styles **/
	p,
	dl,
	ul,
	ol {
		line-height: 1.2em;
	}

	ul,
	ol {
		padding-left: 1em;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: 800;
		letter-spacing: -0.02em;
	}

	h5 + * {
		margin-top: 0.1cm;
	}
}
