$hr: ":is(hr, .md-hr)";

@media print {
	@page {
		size: 21.5cm 27.5cm;
    margin: 0cm 0cm 0cm 0cm;
	}

  body {
    width: 100%;
    height: auto;
    background-image: var(--backgroundImagePrint);
    background-size: contain;
    background-repeat: repeat;
  }

  #write {
    width: var(--pageWidth);
    height: auto;
    background: none;
    padding: 1cm 2cm 1.5cm 2cm;
    margin: 0 auto;
    background-size: contain;
    background-position: top left;

    &::before {
      display: none;
    }

    // page bottom borders
    > #{$hr} + p:not(:empty):not(#{$hr} + #{$hr} + p):not(#{$hr} + p + #{$hr} + p) {
      opacity: 0;
      break-after: all;
      page-break-after: page;
    }

    h1 + p::first-letter {
      background-clip: none;
      -webkit-background-clip: none;
      background-image: none;
      color: #322814;
    }
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: var(--decoFitHeight);
    background-image: var(--footerAccentImage);
    column-span: all;
    transform: rotateX(180deg);
    background-position: 0 10px;
    background-size: 108%;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: var(--pageWidth);
    height: var(--decoFitHeight);
    background-image: var(--footerAccentImage);
    column-span: all;
    background-size: contain;
    background-repeat: no-repeat;
 }
}
