@use "mixins" as *;

table {
	@include sans-serif;
	font-family: ScalySansRemake;
	font-size: 0.318cm;
	line-height: 1.2em;
	column-span: all;
	margin-bottom: 20px;
	margin-top: 0.325cm;

	& + * {
		margin-top: 0.325cm;
	}

	th,
	td {
		padding: 8px;
		line-height: 1.25rem;
		vertical-align: top;
		border-top: 1px solid #ddd
	}

	th {
		font-weight: bold
	}

	thead {
		display: table-row-group;
		font-weight: 800;
	}

	thead th {
		vertical-align: bottom;
		padding: 0.14em 0.4em;
	}

	tbody {
		tr td {
			padding: 0.14em 0.4em;
		}

		tr:nth-child(odd) {
			background-color: var(--noteGreen);
		}
	}

	/* text indent right after table */
	& + p {
		text-indent : 1em;
	}
}
