#write pre.md-meta-block {
	background: transparent;
	min-height: 30px;
	padding: 1.5em;
	font-weight: 300;
	font-size: 1em;
	padding-bottom: 1.5em;
	padding-top: 3em;
	margin-top: -1.5em;
	color: #999;
	margin-bottom: 2em;
	column-span: all;
	width: 100%;
}

.md-image>.md-meta {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.md-image>img {
	column-span: all;
	break-inside: avoid;
	margin-top: 2px;
}

.md-image>.md-meta:first-of-type:before {
	padding-left: 4px;
}

#typora-source {
	color: #555;
}

/** ui for windows **/
#md-searchpanel {
	border-bottom: 1px solid #ccc;
}

#md-searchpanel .btn {
	border: 1px solid #ccc;
}

#md-notification:before {
	top: 14px;
}

#md-notification {
	background: #eee;
}

.megamenu-menu-panel .btn {
	border: 1px solid #ccc;
}
