h1,
h2,
h3,
h4,
h5,
h6 {
	break-before: auto;
	break-after: avoid;
	break-inside: avoid;
	color: var(--headerText);
	font-family: MrEavesRemake;
	font-weight: normal;
  text-shadow: 1px 0 0 var(--headerText);

	+ :is(div, p) {
		break-before: avoid;
		break-after: auto;
		break-inside: auto;
		orphans: 4;
		text-indent: 0;
	}
}

h1 {
	margin-bottom: 0.18cm; /* Margin-bottom only because this is WIDE */
	font-size: 0.89cm;

	&:empty {
		font-size: 1rem;
		line-height: 1rem;
		margin: 0;
	}

	&:not(:empty) {
		column-span: all;
	}

	& + p {
		margin-top: 0;
		text-indent: unset;
	}

	& + p::first-letter {
		display: block;
		float: left;
		width: 5em;
		height: 10em;
		padding-left: 5rem;
		margin-left: -4rem;
		margin-bottom: -1rem;
		z-index: 1;

		font-size: 10em;
		line-height: 0.9em;
		font-family: SolberaImitationRemake;

		background-image: linear-gradient(-45deg, #322814, #998250, #322814);
		background-clip: text;
		-webkit-background-clip: text;
		color: rgba(0, 0, 0, 0);
	}

	& + p::first-line {
		font-variant: small-caps;
	}
}

h2 {
	font-size: 0.75cm;
	line-height: 0.988em; /* Font is misaligned. Shift up slightly */
}

h3 {
	font-size: 0.575cm;
	border-bottom: 2px solid var(--headerUnderline);
	line-height: 0.995em; /* Font is misaligned. Shift up slightly */
}

h4 {
	font-size: 0.458cm;
	line-height: 0.971em; /* Font is misaligned. Shift up slightly */
}

h5 {
	font-family: ScalySansSmallCapsRemake;
	font-size: 0.423cm;
	font-weight: 900;
	line-height: 0.951em; /* Font is misaligned. Shift up slightly */
	& + * {
		margin-top: 0.2cm;
	}
}

a,
.md-def-url {
	color: #990000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	text-indent: 1em;
}

/* Nested lists */
ul ul,ol ol,ul ol,ol ul {
	margin-bottom : 0px;
	margin-left   : 1.5em;
}

li {
	-webkit-column-break-inside : avoid;
	page-break-inside           : avoid;
	break-inside                : avoid;
}

dl {
	line-height  : 1.25em;
	padding-left : 1em;
	white-space  : pre-line;
	& + * {
		margin-top : 0.28cm;
	}
}

dl + * {
	margin-top : 0.17cm;
}

p + dl {
	margin-top: 0.17cm;
}

dt {
	display      : inline;
	margin-right : 5px;
	margin-left  : -1em;
}

dd {
	display     : inline;
	margin-left : 0px;
	text-indent : 0px;
}

