:root {
	--footerAccentImage        : inline('./assets/footerAccent.png');
	--frameBorderImage         : inline('./assets/frameBorder.png');
	--backgroundImage          : inline('./assets/parchmentBackgroundSized.png');
	--backgroundImagePrint     : inline('./assets/parchmentBackground.jpg');
	--redTriangleImage         : inline('./assets/redTriangle.png');
	--monsterBorderImageLegacy : inline('./assets/monsterBorderLegacy.png');
	--noteBorderImage          : inline('./assets/noteBorder.png');
	--descriptiveBoxImage      : inline('./assets/descriptiveBorder.png');
	--monsterBlockBackground   : inline('./assets/parchmentBackgroundGrayscale.jpg');
	--monsterBorderImage       : inline('./assets/monsterBorderFancy.png');
	--codeBorderImage          : inline('./assets/codeBorder.png');
	--classTableDecoration     : inline('./assets/classTableDecoration.png');

	/* Watercolor Images */
	--watercolor1  : inline('./assets/watercolor/watercolor1.png');
	--watercolor2  : inline('./assets/watercolor/watercolor2.png');
	--watercolor3  : inline('./assets/watercolor/watercolor3.png');
	--watercolor4  : inline('./assets/watercolor/watercolor4.png');
	--watercolor5  : inline('./assets/watercolor/watercolor5.png');
	--watercolor6  : inline('./assets/watercolor/watercolor6.png');
	--watercolor7  : inline('./assets/watercolor/watercolor7.png');
	--watercolor8  : inline('./assets/watercolor/watercolor8.png');
	--watercolor9  : inline('./assets/watercolor/watercolor9.png');
	--watercolor10 : inline('./assets/watercolor/watercolor10.png');
	--watercolor11 : inline('./assets/watercolor/watercolor11.png');
	--watercolor12 : inline('./assets/watercolor/watercolor12.png');

	/* Colors */
	--background: #EEE5CE; /* Light parchment */
	--bodyBackground: var(--background);
	--noteGreen: #e0e5c1; /* Pastel green */
	--headerUnderline: #c9ad6a; /* Gold */
	--horizontalRule: #9c2b1b; /* Maroon */
	--headerText: #58180D; /* Dark maroon */
	--monsterStatBackground: #EEDBAB; /* Light orange parchment */
	--captionText: #766649; /* Brown */
	--watercolorStain: #BBAD82; /* Light brown */
	--footerText: #C9AD6A; /* Footer chapter note */
	--descriptiveBoxColor: #FAF7EA;

	/* Universal Sizes */
	--pageWidth: 22.5cm;
	--pageHeight: 28.5cm;
	--pageShadow: 0.5cm; /* space taken by the page image drop shadow */
	--pageHorizontalMargin: 2.5cm;
	--pageTopMargin: 1.5cm;
	--pageBottomMargin: 2cm;
	--columnGap: 1cm;
	--pageGap: 2cm; // gap between pages
	--columnWidth: calc(calc(var(--pageWidth) - calc(var(--pageHorizontalMargin) * 2) - var(--columnGap)) / 2);
	--columnBlockWidth: calc(var(--columnWidth) - 2rem);

	/* Decorative Page Borders */
	/* --footerAccentImage natural height / width */
	--decoFitHeight: calc(calc(225 / 3000) * var(--pageWidth));
}
